services:
  api:
    # Requirements:
    # - Using the Dockerfile in the repository
    # - Swagger accessible at http://localhost:8000/docs
    # - Take volumes
    # - launched after the mlflow service
    # - launch the service
    # - Healthcheck
    ...
      ...
      ...
    ...
    ...
    ...
      ...
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    ...
      ...
    ...
    ...
      ...
      ...
      ...
      ...

  mlflow:
    # Requirements:
    # - latest MLFlow version pinned
    # - UI accessible on browser at http://localhost:5000
    # - Models are stored in./mlruns directory
    # - Healthcheck
    ...
    ...
    ...
    ...
    command: ["mlflow", "server", "--host", "0.0.0.0", "--port", "5000", "--backend-store-uri", "file:///mlflow/mlruns", "--default-artifact-root", "file:///mlflow/mlruns"]
    ...
      ...
      ...
      ...
      ...
